*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    height: 100vh;
    width: auto;
    overflow-x: hidden;
    perspective: 15px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    z-index: -1;
    transform-style: preserve-3d;
}
.background, .foreground{
    position:absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
}
.header{
    position: absolute;
    top: 8rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 5rem;
    color: rgb(9, 140, 145) ;
    text-shadow: 10px 10px 10px rgb(26, 21, 21);
}
.background{
    transform: translateZ(-50px)scale(6);
}
.foreground{
    transform: translateZ(-25px) scale(3.5);
}
section{
    background-color: aliceblue;
    color:rgb(5, 5, 4)
}

.text{
    background-color: aliceblue;
    font-size: 1.2rem;
    margin: 1rem;
}
.bb1{
    background-image:url(sport-1.jpg);
}
.bb2{
    background-image: url(sport-2.jpg);
}
.bb3{
    background-image: url(sport-3.jpg);
}

.bb1, .bb2, .bb3{
    position: relative;
    width:100vw;
    background-attachment: fixed;
    height:800px;
    background-size: cover;
    background-position: center;
}
.sec_heading{
    position: absolute;
    background-color: black;
    padding: 0.5rem 2.5rem;
    top: 50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    font-size:2.5rem;
    color:antiquewhite
}
@media (max-width:700px) {
    .header{
        letter-spacing: 3px;
        font-size: 4rem;
        color:red;
    } 
    .sec_heading{
        font-size:3rem;
        padding:0 10rem 0;
    }
}
@media(max-width:400px){
    .header{
        font-size: 3rem;
        color: blueviolet;
        
    }
}
